body {
    background-image: url("https://picsum.photos/id/418/2000/2000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#header {
    background-color: #18091f;
    color: white;
    height: 60px ;
}
.nav > a {
    color: white
}
#hero {
    font-size: 22px;
    color: rgb(14, 2, 2)
}
#hero > h1 {
    font-size: 80px;
}
#cta {
    background-color: #5d09a1;
    color: white;
    text-decoration: none;
}