body {
    background-image: url("https://picsum.photos/id/418/2000/2000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
a:hover {
    text-decoration: underline;
}
#header, .nav > a, #cta {
    color:white;
}
#header {
    background-color: #18091f;
    height: 60px ;
}

#hero {
    font-size: 22px;
    color: rgb(14, 2, 2);
}
#hero > h1 {
    font-size: 80px;
}
#cta {
    background-color: #5d09a1;
}
a {
    text-decoration: none;
}

#cta:hover {
    color:#5d09a1;
    background-color: white;
}
#products {
    background-color: #ecd7ff;
}
.card {
    background-color: white;
    width: fit-content;
}