body {
    background-image: url("https://picsum.photos/id/418/2000/2000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}